Small notebook to grab some philly crime data, philly weather data, and philly income data, clean it, and convert to csv.

# Installing and importing libraries

In [1]:
# Install necessary libs
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/anthonykupeczbitch/opt/anaconda3/lib/python3.8/site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in /Users/anthonykupeczbitch/opt/anaconda3/lib/python3.8/site-packages (from beautifulsoup4) (2.5)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from datetime import date, timedelta

#Grabbing Philadelphia Crime Data for 2025 and 2024.

**Download links follow the scheme:**

https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%27\<**BEGINNING YEAR**\>-01-01%27%20AND%20dispatch_date_time%20%3C%20%27\<**YEAR AFTER**\>-01-01%27

In [17]:
base_url = 'https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%27'
mid_url = '-01-01%27%20AND%20dispatch_date_time%20%3C%20%27'
end_url = '-01-01%27'

for year in range(2024, 2026):
  full_url = '\'' + base_url + str(year) + mid_url + str(year+1) + end_url + '\''
  output_fname = '\'' + 'ExampleData/' + str(year) + 'PhillyCrimeData.csv\''
  # print(output_fname)
  !wget $full_url -O $output_fname

--2025-05-25 21:23:33--  https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%272024-01-01%27%20AND%20dispatch_date_time%20%3C%20%272025-01-01%27
Resolving phl.carto.com (phl.carto.com)... 34.121.114.84
Connecting to phl.carto.com (phl.carto.com)|34.121.114.84|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘ExampleData/2024PhillyCrimeData.csv’

ExampleData/2024Phi     [             <=>    ]  42.77M  13.0MB/s    in 4.2s

2025-05-25 21:23:42 (10.2 MB/s) - ‘ExampleData/2024PhillyCrimeData.csv’ saved [44852471]

--2025-05-25 21:23:42--  https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%272025-01-01%27%20AND%20dispatch_date_time%20%3C%20%272026-01-01%27
Resolving phl.carto.com (phl.carto.com)... 34.121.114.84
Connecting to phl.carto.com (phl.carto.com)|34.121.114.84|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘ExampleData/2025PhillyCrimeData.csv’

ExampleData/2025Phi     [    <=>             ]  15.37M  22.8MB/s    in 0.7s

2025-05-25 21:23:45 (22.8 MB/s) - ‘ExampleData/2025PhillyCrimeData.csv’ saved [16114968]

In [18]:
crime2025 = pd.read_csv('ExampleData/2025PhillyCrimeData.csv')
crime2025.info()
crime2025.head(100)

crime2024 = pd.read_csv('ExampleData/2024PhillyCrimeData.csv')
crime2024.info()
crime2024.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55649 entries, 0 to 55648
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   the_geom              54827 non-null  object
 1   cartodb_id            55649 non-null  int64
 2   the_geom_webmercator  54827 non-null  object
 3   objectid              55649 non-null  int64
 4   dc_dist               55649 non-null  int64
 5   psa                   55638 non-null  object
 6   dispatch_date_time    55649 non-null  object
 7   dispatch_date         55649 non-null  object
 8   dispatch_time         55649 non-null  object
 9   hour                  55649 non-null  int64
 10  dc_key                55649 non-null  float64
 11  location_block        55649 non-null  object
 12  ucr_general           55649 non-null  int64
 13  text_general_code     55649 non-null  object
 14  point_x               54829 non-null  float64
 15  point_y               54829 non-null  float64
 16  lat                   54827 non-null  float64
 17  lng                   54827 non-null  float64
dtypes: float64(5), int64(5), object(8)
memory usage: 7.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160388 entries, 0 to 160387
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   the_geom              153713 non-null  object
 1   cartodb_id            160388 non-null  int64
 2   the_geom_webmercator  153644 non-null  object
 3   objectid              160388 non-null  int64
 4   dc_dist               160388 non-null  int64
 5   psa                   160337 non-null  object
 6   dispatch_date_time    160388 non-null  object
 7   dispatch_date         160388 non-null  object
 8   dispatch_time         160388 non-null  object
 9   hour                  160386 non-null  float64
 10  dc_key                160388 non-null  float64
 11  location_block        160366 non-null  object
 12  ucr_general           160388 non-null  int64
 13  text_general_code     160388 non-null  object
 14  point_x               153657 non-null  float64
 15  point_y               153657 non-null  float64
 16  lat                   153644 non-null  float64
 17  lng                   153644 non-null  float64
dtypes: float64(6), int64(4), object(8)
memory usage: 22.0+ MB

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E610000014AB0862D9C852C0E0647B978CFE...,25472,0101000020110F000049A3EA6E50E85FC11DAA7FD4498E...,27801976,26,1,2024-11-13 05:00:00+00,2024-11-13,00:00:00,19.0,2.024261e+11,300 BLOCK W CUMBERLAND ST,100,Homicide - Criminal,-75.138268,39.988666,39.988666,-75.138268
1,0101000020E6100000642EEFF856C652C020038BC69100...,25496,0101000020110F00000FDFFB3B0DE45FC1ADE5A9318790...,27802002,24,1,2024-07-26 04:00:00+00,2024-07-26,00:00:00,6.0,2.024241e+11,3800 BLOCK KENSINGTON AV,100,Homicide - Criminal,-75.099058,40.004449,40.004449,-75.099058
2,0101000020E6100000185B883B62CE52C01022CD5003FB...,25556,0101000020110F000045274B18B7F15FC13F1C10895E8A...,27802014,19,2,2024-06-29 04:00:00+00,2024-06-29,00:00:00,20.0,2.024190e+11,0 BLOCK N 52ND ST,100,Homicide - Criminal,-75.224746,39.961039,39.961039,-75.224746
3,NaN,25576,NaN,27802046,18,1,2024-05-01 04:00:00+00,2024-05-01,00:00:00,2.0,2.024180e+11,300 BLOCK COBBS CREEK,100,Homicide - Criminal,NaN,NaN,NaN,NaN
4,NaN,25583,NaN,27802048,2,2,2024-10-27 04:00:00+00,2024-10-27,00:00:00,15.0,2.024021e+11,5900 BLOCK ELISNORE ST,100,Homicide - Criminal,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0101000020E61000004CEC616225CE52C0980EC68A85F9...,30495,0101000020110F0000FFC2EFBC4FF15FC11F38048CB788...,27804929,18,2,2024-03-05 05:00:00+00,2024-03-05,00:00:00,2.0,2.023180e+11,600 BLOCK S 49TH ST,100,Homicide - Criminal,-75.221032,39.949388,39.949388,-75.221032
96,0101000020E6100000202EB2FD41C852C00870E921A5FF...,30501,0101000020110F0000777160474FE75FC14D6622D4808F...,27804947,24,2,2024-02-10 05:00:00+00,2024-02-10,00:00:00,21.0,2.024240e+11,3100 BLOCK N LEE ST,100,Homicide - Criminal,-75.129028,39.997227,39.997227,-75.129028
97,0101000020E6100000F8618BAA8DC552C088CA9D3E2702...,30519,0101000020110F0000F40BA34BB7E25FC1ADC4F3CC4892...,27804978,15,1,2024-07-29 04:00:00+00,2024-07-29,00:00:00,0.0,2.024151e+11,1400 BLOCK OVERINGTON ST,100,Homicide - Criminal,-75.086772,40.016823,40.016823,-75.086772
98,0101000020E61000002C696BC8C8CE52C0584B1D2B8BF7...,30617,0101000020110F000092BC764965F25FC11ACB3B9E8686...,27805073,12,2,2024-07-04 04:00:00+00,2024-07-04,00:00:00,23.0,2.024121e+11,1900 BLOCK S SALFORD ST,100,Homicide - Criminal,-75.231005,39.933935,39.933935,-75.231005
99,0101000020E6100000F840714E4CC852C0805A9DED68FE...,30637,0101000020110F0000F13FF3CC60E75FC145C8214C228E...,27805085,16,3,2024-04-25 04:00:00+00,2024-04-25,00:00:00,17.0,2.024160e+11,2500 BLOCK A ST,100,Homicide - Criminal,-75.129657,39.987577,39.987577,-75.129657

In [24]:
crime2024[crime2024['hour'].isna()]

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
16,0101000020E610000068669D59C1C952C098DFEC200001...,26377,0101000020110F0000D68FE773DAE95FC144CA308D0191...,27802435,39,2,2024-03-13 04:00:00+00,2024-03-13,00:00:00,NaN,2.024390e+11,1400 BLOCK W VENANGO ST,100,Homicide - Criminal,-75.152426,40.007816,40.007816,-75.152426
25,0101000020E6100000BC2587EF47D052C0C03F6B0CE7FC...,26519,0101000020110F000008A7491CF0F45FC1DACC0998768C...,27802495,19,1,2024-01-05 05:00:00+00,2024-01-05,00:00:00,NaN,2.024190e+11,6700 BLOCK LEBANON AV,100,Homicide - Criminal,-75.254391,39.975801,39.975801,-75.254391

# Grabbing Philly Crime 2016

In [3]:
base_url = "https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%27"
mid_url = '-01-01%27%20AND%20dispatch_date_time%20%3C%20%27'
end_url = '-01-01%27'

for year in range(2016, 2017):
  full_url = '\'' + base_url + str(year) + mid_url + str(year+1) + end_url + '\''
  output_fname = '\'' + 'ExampleData/' + str(year) + 'PhillyCrimeData.csv\''
  print(full_url)
  !wget $full_url -O $output_fname

'https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%272016-01-01%27%20AND%20dispatch_date_time%20%3C%20%272017-01-01%27'
--2025-05-25 14:11:14--  https://phl.carto.com/api/v2/sql?filename=incidents_part1_part2&format=csv&skipfields=cartodb_id,the_geom,the_geom_webmercator&q=SELECT%20*%20,%20ST_Y(the_geom)%20AS%20lat,%20ST_X(the_geom)%20AS%20lng%20FROM%20incidents_part1_part2%20WHERE%20dispatch_date_time%20%3E=%20%272016-01-01%27%20AND%20dispatch_date_time%20%3C%20%272017-01-01%27
Resolving phl.carto.com (phl.carto.com)... 34.121.114.84
Connecting to phl.carto.com (phl.carto.com)|34.121.114.84|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘ExampleData/2016PhillyCrimeData.csv’

ExampleData/2016Phi     [     <=>            ]  27.08M  27.9MB/s    in 1.0s

2025-05-25 14:11:19 (27.9 MB/s) - ‘ExampleData/2016PhillyCrimeData.csv’ saved [28393432]

In [4]:
crime2016 = pd.read_csv('ExampleData/2016PhillyCrimeData.csv')
crime2016.info()
crime2016.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 161321 entries, 0 to 161320
Data columns (total 15 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   objectid            161321 non-null  int64
 1   dc_dist             161321 non-null  int64
 2   psa                 161278 non-null  object
 3   dispatch_date_time  161321 non-null  object
 4   dispatch_date       161321 non-null  object
 5   dispatch_time       161321 non-null  object
 6   hour                161316 non-null  float64
 7   dc_key              161321 non-null  float64
 8   location_block      161321 non-null  object
 9   ucr_general         161321 non-null  int64
 10  text_general_code   161321 non-null  object
 11  point_x             159584 non-null  float64
 12  point_y             159584 non-null  float64
 13  lat                 159584 non-null  float64
 14  lng                 159584 non-null  float64
dtypes: float64(6), int64(3), object(6)
memory usage: 18.5+ MB

,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,27802040,16,2,2016-09-05 04:00:00+00,2016-09-05,00:00:00,1.0,2.016160e+11,4400 BLOCK WESTMININSTER A,100,Homicide - Criminal,NaN,NaN,NaN,NaN
1,27802041,17,3,2016-07-31 04:00:00+00,2016-07-31,00:00:00,21.0,2.016170e+11,2300 BLOCK GERRETT ST,100,Homicide - Criminal,NaN,NaN,NaN,NaN
2,27802077,15,1,2016-02-21 05:00:00+00,2016-02-21,00:00:00,23.0,2.016150e+11,4800 BLOCK PENN ST,100,Homicide - Criminal,-75.083232,40.019994,40.019994,-75.083232
3,27802101,16,1,2016-05-15 04:00:00+00,2016-05-15,00:00:00,2.0,2.016160e+11,3600 BLOCK ASPEN ST,100,Homicide - Criminal,-75.195151,39.967129,39.967129,-75.195151
4,27802121,35,1,2016-06-01 04:00:00+00,2016-06-01,00:00:00,17.0,2.016350e+11,5700 BLOCK PARK AV,100,Homicide - Criminal,-75.142890,40.040345,40.040345,-75.142890
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,27804319,22,3,2016-11-23 05:00:00+00,2016-11-23,00:00:00,23.0,2.016221e+11,2000 BLOCK W TURNER ST,100,Homicide - Criminal,-75.169056,39.979163,39.979163,-75.169056
96,27804418,25,4,2016-10-06 04:00:00+00,2016-10-06,00:00:00,19.0,2.016251e+11,3200 BLOCK N REESE ST,100,Homicide - Criminal,-75.138804,40.000926,40.000926,-75.138804
97,27804419,25,4,2016-10-11 04:00:00+00,2016-10-11,00:00:00,12.0,2.016251e+11,3600 BLOCK N 11TH ST,100,Homicide - Criminal,-75.146014,40.008267,40.008267,-75.146014
98,27804420,25,1,2016-10-12 04:00:00+00,2016-10-12,00:00:00,22.0,2.016251e+11,4200 BLOCK N FRANKLIN ST,100,Homicide - Criminal,-75.139249,40.016766,40.016766,-75.139249
99,27804421,12,4,2016-10-14 04:00:00+00,2016-10-14,00:00:00,19.0,2.016121e+11,1300 BLOCK S 58TH ST,100,Homicide - Criminal,-75.235940,39.942346,39.942346,-75.235940

# Figuring Out Schema of Crime Data

In [12]:
print(list(crime2024.columns))
print(crime2024.info())
crime2024.head()

['the_geom', 'cartodb_id', 'the_geom_webmercator', 'objectid', 'dc_dist', 'psa', 'dispatch_date_time', 'dispatch_date', 'dispatch_time', 'hour', 'dc_key', 'location_block', 'ucr_general', 'text_general_code', 'point_x', 'point_y', 'lat', 'lng']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160388 entries, 0 to 160387
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   the_geom              153713 non-null  object
 1   cartodb_id            160388 non-null  int64
 2   the_geom_webmercator  153644 non-null  object
 3   objectid              160388 non-null  int64
 4   dc_dist               160388 non-null  int64
 5   psa                   160337 non-null  object
 6   dispatch_date_time    160388 non-null  object
 7   dispatch_date         160388 non-null  object
 8   dispatch_time         160388 non-null  object
 9   hour                  160386 non-null  float64
 10  dc_key                160388 non-null  float64
 11  location_block        160366 non-null  object
 12  ucr_general           160388 non-null  int64
 13  text_general_code     160388 non-null  object
 14  point_x               153657 non-null  float64
 15  point_y               153657 non-null  float64
 16  lat                   153644 non-null  float64
 17  lng                   153644 non-null  float64
dtypes: float64(6), int64(4), object(8)
memory usage: 22.0+ MB
None

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E610000014AB0862D9C852C0E0647B978CFE...,25472,0101000020110F000049A3EA6E50E85FC11DAA7FD4498E...,27801976,26,1,2024-11-13 05:00:00+00,2024-11-13,00:00:00,19.0,2.024261e+11,300 BLOCK W CUMBERLAND ST,100,Homicide - Criminal,-75.138268,39.988666,39.988666,-75.138268
1,0101000020E6100000642EEFF856C652C020038BC69100...,25496,0101000020110F00000FDFFB3B0DE45FC1ADE5A9318790...,27802002,24,1,2024-07-26 04:00:00+00,2024-07-26,00:00:00,6.0,2.024241e+11,3800 BLOCK KENSINGTON AV,100,Homicide - Criminal,-75.099058,40.004449,40.004449,-75.099058
2,0101000020E6100000185B883B62CE52C01022CD5003FB...,25556,0101000020110F000045274B18B7F15FC13F1C10895E8A...,27802014,19,2,2024-06-29 04:00:00+00,2024-06-29,00:00:00,20.0,2.024190e+11,0 BLOCK N 52ND ST,100,Homicide - Criminal,-75.224746,39.961039,39.961039,-75.224746
3,NaN,25576,NaN,27802046,18,1,2024-05-01 04:00:00+00,2024-05-01,00:00:00,2.0,2.024180e+11,300 BLOCK COBBS CREEK,100,Homicide - Criminal,NaN,NaN,NaN,NaN
4,NaN,25583,NaN,27802048,2,2,2024-10-27 04:00:00+00,2024-10-27,00:00:00,15.0,2.024021e+11,5900 BLOCK ELISNORE ST,100,Homicide - Criminal,NaN,NaN,NaN,NaN

## Cols to keep
All Columns:
['the_geom', 'cartodb_id', 'the_geom_webmercator', 'objectid', 'dc_dist', 'psa', 'dispatch_date_time', 'dispatch_date', 'dispatch_time', 'hour', 'dc_key', 'location_block', 'ucr_general', 'text_general_code', 'point_x', 'point_y', 'lat', 'lng']

Cols to keep:
['objectid', 'dc_dist', 'dispatch_date', 'hour', 'location_block', 'text_general_code', 'lat', 'lng']

objectid: unique id for the row

dc_dist: police district

In [6]:
keep_cols = ['objectid', 'dc_dist', 'dispatch_date', 'hour', 'location_block', 'text_general_code', 'ucr_general', 'lat', 'lng']

crime2024 = crime2024[keep_cols]
crime2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160388 entries, 0 to 160387
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   objectid           160388 non-null  int64
 1   dc_dist            160388 non-null  int64
 2   dispatch_date      160388 non-null  object
 3   hour               160386 non-null  float64
 4   location_block     160366 non-null  object
 5   text_general_code  160388 non-null  object
 6   lat                153644 non-null  float64
 7   lng                153644 non-null  float64
dtypes: float64(3), int64(2), object(3)
memory usage: 9.8+ MB

## Cleaning
1. Will want to get rid of rows that have null lat, lng, psa, hour, and location block
2. Figure out the text_general_code types
3. Figure out Location Block Types --> Theres too many
4. Convert dispatch_date to date type
5. Convert hour to INTEGER

In [8]:
crime2024['hour'].value_counts()
crime2024['location_block'].value_counts()

hour
16.0    12031
17.0    10968
12.0    10435
11.0    10334
10.0    10198
13.0    10030
9.0      9670
18.0     9595
15.0     9114
19.0     8366
8.0      8347
14.0     7495
20.0     7350
21.0     5849
0.0      4511
23.0     4319
22.0     4201
7.0      4116
1.0      3436
2.0      2710
3.0      2152
4.0      1792
5.0      1759
6.0      1608
Name: count, dtype: int64

In [25]:
crime2024['dispatch_date'] = pd.to_datetime(crime2024['dispatch_date'])
crime2024['hour'] = crime2024['hour'].fillna(0)
crime2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160388 entries, 0 to 160387
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   the_geom              153713 non-null  object
 1   cartodb_id            160388 non-null  int64
 2   the_geom_webmercator  153644 non-null  object
 3   objectid              160388 non-null  int64
 4   dc_dist               160388 non-null  int64
 5   psa                   160337 non-null  object
 6   dispatch_date_time    160388 non-null  object
 7   dispatch_date         160388 non-null  datetime64[ns]
 8   dispatch_time         160388 non-null  object
 9   hour                  160388 non-null  float64
 10  dc_key                160388 non-null  float64
 11  location_block        160366 non-null  object
 12  ucr_general           160388 non-null  int64
 13  text_general_code     160388 non-null  object
 14  point_x               153657 non-null  float64
 15  point_y               153657 non-null  float64
 16  lat                   153644 non-null  float64
 17  lng                   153644 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(4), object(7)
memory usage: 22.0+ MB

In [16]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://root:root@localhost:5432/test')
engine.connect()

In [17]:
# we can now use our engine to get the specific output for Postgres
print(pd.io.sql.get_schema(crime2024, name='crime2024', con=engine))

CREATE TABLE crime2024 (
	objectid BIGINT,
	dc_dist BIGINT,
	dispatch_date TIMESTAMP WITHOUT TIME ZONE,
	hour FLOAT(53),
	location_block TEXT,
	text_general_code TEXT,
	lat FLOAT(53),
	lng FLOAT(53)
)

## Schema gor Google Cloud
CREATE TABLE crime2024 (
    unique_row_id BYTES,
    filename STRING,
	objectid INTEGER, 
	dc_dist INTEGER, 
	dispatch_date TIMESTAMP, 
	hour INTEGER, 
	location_block STRING, 
	text_general_code STRING, 
	lat NUMERIC, 
	lng NUMERIC
)

# Grabbing Philly Park Data
This is not needed because it is all contained in the playground dataset

In [30]:
URL = '\'https://opendata.arcgis.com/api/v3/datasets/9eb26a787a6e448ba426eea7f9f0d93a_0/downloads/data?format=csv&spatialRefId=4326\''
output_fname = 'ExampleData/PhillyPark.csv'

!wget $URL -O $output_fname

--2025-05-26 11:46:36--  https://opendata.arcgis.com/api/v3/datasets/9eb26a787a6e448ba426eea7f9f0d93a_0/downloads/data?format=csv&spatialRefId=4326
Resolving opendata.arcgis.com (opendata.arcgis.com)... 34.225.249.205, 3.215.20.206, 184.72.158.166
Connecting to opendata.arcgis.com (opendata.arcgis.com)|34.225.249.205|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘ExampleData/PhillyPark.csv’

ExampleData/PhillyP     [ <=>                ]  19.77K  --.-KB/s    in 0s

2025-05-26 11:46:36 (129 MB/s) - ‘ExampleData/PhillyPark.csv’ saved [20247]

In [35]:
phillypark = pd.read_csv('ExampleData/PhillyPark.csv')
phillypark.info()
phillypark.head(100)
len(phillypark['PARK_NAME'].isin(phillyplayground['PARK_NAME']))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171 entries, 0 to 170
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   X             171 non-null    float64
 1   Y             171 non-null    float64
 2   OBJECTID      171 non-null    int64
 3   PARK_NAME     171 non-null    object
 4   DPP_ASSET_ID  171 non-null    int64
 5   PROGRAM_TYPE  171 non-null    object
 6   SITE_CLASS    171 non-null    object
 7   BUILDING      171 non-null    object
 8   GYM           171 non-null    object
 9   LABEL_NUMBER  0 non-null      float64
 10  COMMENTS      155 non-null    object
 11  DATA_SOURCE   171 non-null    object
dtypes: float64(3), int64(2), object(7)
memory usage: 16.2+ KB

171

# Grabbing Philly Playground Data

In [33]:
URL = '\'https://opendata.arcgis.com/datasets/899c807e205244278b3f39421be8489c_0.csv\''
output_fname = 'ExampleData/PhillyPlay.csv'

!wget $URL -O $output_fname

--2025-05-26 11:47:20--  https://opendata.arcgis.com/datasets/899c807e205244278b3f39421be8489c_0.csv
Resolving opendata.arcgis.com (opendata.arcgis.com)... 34.225.249.205, 3.215.20.206, 184.72.158.166
Connecting to opendata.arcgis.com (opendata.arcgis.com)|34.225.249.205|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://hub.arcgis.com/api/download/v1/items/899c807e205244278b3f39421be8489c/csv?redirect=true&layers=0 [following]
--2025-05-26 11:47:20--  https://hub.arcgis.com/api/download/v1/items/899c807e205244278b3f39421be8489c/csv?redirect=true&layers=0
Resolving hub.arcgis.com (hub.arcgis.com)... 3.215.20.206, 34.225.249.205, 184.72.158.166
Connecting to hub.arcgis.com (hub.arcgis.com)|3.215.20.206|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://hub.arcgis.com/api/v3/datasets/899c807e205244278b3f39421be8489c_0/downloads/data?format=csv&spatialRefId=3857&where=1%3D1 [following]
--2025-05-26 11:47:22--  https://hub.arcgis.com/api/v3/datasets/899c807e205244278b3f39421be8489c_0/downloads/data?format=csv&spatialRefId=3857&where=1%3D1
Reusing existing connection to hub.arcgis.com:443.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘ExampleData/PhillyPlay.csv’

ExampleData/PhillyP     [ <=>                ]  51.00K  --.-KB/s    in 0.008s

2025-05-26 11:47:22 (6.19 MB/s) - ‘ExampleData/PhillyPlay.csv’ saved [52224]

In [34]:
phillyplayground = pd.read_csv('ExampleData/PhillyPlay.csv')
phillyplayground.info()
phillyplayground.head(100)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464 entries, 0 to 463
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   X               464 non-null    float64
 1   Y               464 non-null    float64
 2   OBJECTID        464 non-null    int64
 3   PARK_NAME       464 non-null    object
 4   AGE_RANGE       464 non-null    object
 5   DATE_INSTALLED  214 non-null    object
 6   COMMENTS        462 non-null    object
 7   DATA_SOURCE     464 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 29.1+ KB

,X,Y,OBJECTID,PARK_NAME,AGE_RANGE,DATE_INSTALLED,COMMENTS,DATA_SOURCE
0,-8.368373e+06,4.871673e+06,2561,Morton Playground,5_12_YEARS,NaN,,Nearmap 2023
1,-8.354619e+06,4.874931e+06,2562,George C Pelbano Playground,5_12_YEARS,NaN,No Signage. No Fence.,Nearmap 2023
2,-8.365130e+06,4.860908e+06,2563,Lawrence Street Playground,UNKNOWN,NaN,,Nearmap 2023
3,-8.368671e+06,4.871194e+06,2564,Vernon Park,5_12_YEARS,NaN,,2024 October Site Visits
4,-8.363748e+06,4.864326e+06,2565,Waterloo Playground,5_12_YEARS,2021/10/01 00:00:00+00,"2021 Renovation, moved to this location.",Nearmap 2023
...,...,...,...,...,...,...,...,...
95,-8.353857e+06,4.870025e+06,2656,Disston Recreation Center,2_5_YEARS,2019/11/01 00:00:00+00,Installed during 2019/2020 renovations,Nearmap 2023
96,-8.374469e+06,4.870888e+06,2657,Lonnie Cohen Recreation Center,5_12_YEARS,NaN,Next to Recreation Center,Nearmap 2023
97,-8.368343e+06,4.856927e+06,2658,Charles H Chew Playground,5_12_YEARS,NaN,,"Cyclomedia 2018, Playground Equipment 2017, Pi..."
98,-8.362731e+06,4.863623e+06,2659,Black Coyle and McBride Playground,5_12_YEARS,2022/12/01 00:00:00+00,Site Renovated Fall 2021.,Nearmap 2023
99,-8.368047e+06,4.857522e+06,2660,Marian Anderson Recreation Center,5_12_YEARS,2018/01/01 00:00:00+00,,Nearmap 2023

## Schema for playground data

In [38]:
print(list(phillyplayground.columns))
print(phillyplayground.columns[phillyplayground.isna().any()].tolist())
crime2024.head()

['X', 'Y', 'OBJECTID', 'PARK_NAME', 'AGE_RANGE', 'DATE_INSTALLED', 'COMMENTS', 'DATA_SOURCE']
['DATE_INSTALLED', 'COMMENTS']

,the_geom,cartodb_id,the_geom_webmercator,objectid,dc_dist,psa,dispatch_date_time,dispatch_date,dispatch_time,hour,dc_key,location_block,ucr_general,text_general_code,point_x,point_y,lat,lng
0,0101000020E610000014AB0862D9C852C0E0647B978CFE...,25472,0101000020110F000049A3EA6E50E85FC11DAA7FD4498E...,27801976,26,1,2024-11-13 05:00:00+00,2024-11-13,00:00:00,19.0,2.024261e+11,300 BLOCK W CUMBERLAND ST,100,Homicide - Criminal,-75.138268,39.988666,39.988666,-75.138268
1,0101000020E6100000642EEFF856C652C020038BC69100...,25496,0101000020110F00000FDFFB3B0DE45FC1ADE5A9318790...,27802002,24,1,2024-07-26 04:00:00+00,2024-07-26,00:00:00,6.0,2.024241e+11,3800 BLOCK KENSINGTON AV,100,Homicide - Criminal,-75.099058,40.004449,40.004449,-75.099058
2,0101000020E6100000185B883B62CE52C01022CD5003FB...,25556,0101000020110F000045274B18B7F15FC13F1C10895E8A...,27802014,19,2,2024-06-29 04:00:00+00,2024-06-29,00:00:00,20.0,2.024190e+11,0 BLOCK N 52ND ST,100,Homicide - Criminal,-75.224746,39.961039,39.961039,-75.224746
3,NaN,25576,NaN,27802046,18,1,2024-05-01 04:00:00+00,2024-05-01,00:00:00,2.0,2.024180e+11,300 BLOCK COBBS CREEK,100,Homicide - Criminal,NaN,NaN,NaN,NaN
4,NaN,25583,NaN,27802048,2,2,2024-10-27 04:00:00+00,2024-10-27,00:00:00,15.0,2.024021e+11,5900 BLOCK ELISNORE ST,100,Homicide - Criminal,NaN,NaN,NaN,NaN

## Cols to keep
All Columns:
['X', 'Y', 'OBJECTID', 'PARK_NAME', 'AGE_RANGE', 'DATE_INSTALLED', 'COMMENTS', 'DATA_SOURCE']


Cols to keep:
['X', 'Y', 'OBJECTID', 'PARK_NAME', 'AGE_RANGE']

In [39]:
keep_cols = ['X', 'Y', 'OBJECTID', 'PARK_NAME', 'AGE_RANGE']

phillyplayground = phillyplayground[keep_cols]
phillyplayground.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 464 entries, 0 to 463
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   X          464 non-null    float64
 1   Y          464 non-null    float64
 2   OBJECTID   464 non-null    int64
 3   PARK_NAME  464 non-null    object
 4   AGE_RANGE  464 non-null    object
dtypes: float64(2), int64(1), object(2)
memory usage: 18.2+ KB

# Grabbing Philly Weather Data for 2024 and 2025

In [50]:
# Set date range
sdate = pd.to_datetime('2025-05-24')
edate = date.today()
dates = pd.date_range(sdate,edate,freq='d')

# Get rid of dashes in the date
dates = dates.strftime('%Y%m%d')
dates

Index(['20250524', '20250525', '20250526'], dtype='object')

Using weather API to get historical data

Using wunderground created issues since its table is dynamically created using JS, and thus cant be accessed through DOM. And I didnt want to use selenium

API Endpoint is: https://api.weather.com/v1/location/KPHL:9:US/observations/historical.json?apiKey=e1f10a1e78da46f5b10a1e78da96f525&units=e&startDate=\<date\>

In [51]:
import requests
from datetime import datetime


base_url = 'https://api.weather.com/v1/location/KPHL:9:US/observations/historical.json?apiKey=e1f10a1e78da46f5b10a1e78da96f525&units=e&startDate='
phl_weather = []

# Get the average temp for each date
for date in dates:
  full_url = base_url + date
  response = requests.get(full_url).json()['observations']

  total = 0
  num_obs = 0
  for obs in response:
    if obs['temp'] != None:
      total += obs['temp']
      num_obs += 1
  avg_temp = total / num_obs

  phl_weather.append([str(datetime.strptime(date, '%Y%m%d').date()), avg_temp])

# Convert to a dataframe
cols = ['Date', 'Avg Temp']
phl_weather = pd.DataFrame(phl_weather, columns=cols)

In [52]:
phl_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      3 non-null      object
 1   Avg Temp  3 non-null      float64
dtypes: float64(1), object(1)
memory usage: 176.0+ bytes

# Scraping Median Income Data

In [46]:
import re
url = 'https://zipatlas.com/us/pa/philadelphia/zip-code-comparison/highest-median-household-income.htm'

philly_income = pd.read_html(url)[0]
philly_income = philly_income.drop(columns=['Unnamed: 0', 'vs State',
       'vs National'])
philly_income.head()

# convert currency to int
philly_income['Household Income'] = philly_income['Household Income'].replace('[\$,]', '', regex=True).astype(float)

In [44]:
philly_income.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Zip Code          47 non-null     int64
 1   Household Income  47 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 880.0 bytes